body, html {
    font-size: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.border {
    border: solid 1px black;
    padding: 1rem 4rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
}

.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.body-height {
    min-height: 100%;
}

.row-height {
    min-height: 12rem;
    height: 100%;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.header {
    font-size: 2.4rem;
}

.margin-12 {
    margin: 1.2rem;
}

.margin-v12 {
    margin: 1.2rem 0;
}

.margin-top {
    margin-top: 1.2rem;
}

.padding-menu {
    padding: 1.2rem 0;
}

.column {
    width: 100%;
}

.column-50 {
    width: 50%;
    padding: 1rem 1rem;
}

.column-30 {
    width: 30%;
}

.table-content {
    padding: 2rem 0;
}

#table {
    margin-top: 1rem;
}

.button-styling {
    padding: 1.2rem 3rem;
    border-radius: 0.4rem;
    border: solid 1px rgb(0, 0, 0);
    color: white;
    font-size: 1.2rem;
    background-color: rgb(32, 160, 32);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.button-styling:focus {
    outline-width: 0;
}

.button-styling:hover {
    outline-width: 0;
    background-color: rgb(38, 226, 38);
    transition: all .2rgb(25, 158, 25)
}

.button-styling:active {
    background-color: rgb(32, 160, 32);
}

.arrow-styling {
    padding: 1rem 1.4rem;
}

.calendar {
    padding: 1rem 0.2rem;
    border: 0px;
    border-radius: 0px;
}

.dropdown-content {
    max-height: 0;
    opacity: 0;
    margin: -1rem 0;
    pointer-events: none;
    transition: all 0.75s ease-in-out, width 0s, margin 0.25s 0.75s;
}

.show {
    max-height: 1000rem;
    opacity: 1;
    margin: 0rem 0;
    pointer-events: all;
    transition: all 0.75s 0.25s ease-in-out, width 0s, margin 0.75s 0.25s;
}

/* Use a media query to add a breakpoint: */
@media screen and (max-width: 1340px) {
    .column {
        width: 400px;
    }
}